@model Parks

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">US Parks Data</h1>
</div>

@foreach(Park park in Model.data)
{
    @(park.parkCode + " " + park.fullName + " " + park.latLong + " ")
    <br />
}

<a href="/NewItem">New Item</a>
<br />
<a href="/AboutUs">About Us</a>

