
@{
    ViewData["Title"] = "WhatWeDo";
}

<h1>What we do</h1>
<br />

<p1>
    Eapen, Luis and Travis work at Citigroup <br />
    Eapen works in Risk and Audit<br />
    Luis works in ICG Technology <br />
    Travis works in Human Resources
</p1>